<!-- navbar goes here -->
<nav class="bg-gray-800">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
  
        <div class="flex space-x-4">
          <!-- logo -->
          <div>
            <a href="{% url 'index' %}" class="flex text-2xl items-center py-3 px-2 text-gray-200 hover:text-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
                  </svg>
              <span class="font-bold text-white">&nbsp;Editors Point</span>
            </a>
          </div>
        </div>
  
        <!-- secondary nav -->
        <div class="hidden md:flex items-center space-x-1">
            <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
            <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About Us</a>
            <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact Us</a>
            <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Our Team</a>
            <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Privacy Policy</a>
            <div class="dropdown block relative px-2">
                <button class="bg-gray-600 text-white font-semibold py-2 px-4 rounded inline-flex items-center">
                  <span class="mr-1">Explore Tools</span>
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                </button>
                <ul class="dropdown-menu absolute hidden rounded bg-gray-900 text-gray-700 pt-1 py-3">
                  <li class=""><a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"><span><i class="fas fa-text-height text-red-400"></i>&nbsp;&nbsp;Text Format</span></a></li>
                  <li class=""><a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"><span><i class="fas fa-wifi text-yellow-400"></i>&nbsp;&nbsp;Networking</span></a></li>
                  <li class=""><a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"><span><i class="fas fa-code text-green-400"></i>&nbsp;&nbsp;Programming</span></a></li>
                  <li class=""><a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"><span><i class="fas fa-square-root-alt text-purple-400"></i>&nbsp;&nbsp;Mathematical</span></a></li>
                  <li class=""><a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">+ More Tools</span></a></li>
                </ul>
              </div>
        </div>
  
        <!-- mobile button goes here -->
        <div class="md:hidden flex items-center">
          <button class="mobile-menu-button inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
  
      </div>
    </div>
    <div style="height:4px;" class="gradient-line"></div>
    <!-- mobile menu -->
    <div class="mobile-menu hidden md:hidden">
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Home</a>
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">About Us</a>
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Contact Us</a>
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Our Team</a>
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Privacy Policy</a>
        <a href="#" class="py-5 px-3 text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Explore Tools</a>

    </div>
    
  </nav>
  
  <script>// grab everything we need
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    
    // add event listeners
    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
    </script>

    <style>
        .gradient-line {
    background: linear-gradient(270deg, #833ab4, #fd1d1d, #fcb045, #45fc85, #4745fc);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 12s ease infinite;
    -moz-animation: AnimationName 12s ease infinite;
    -o-animation: AnimationName 12s ease infinite;
    animation: AnimationName 12s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.dropdown:hover .dropdown-menu {
  display: block;
}

    </style>