<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>jklsdhgujweh</h1>
    Hello, world. You're at the polls index.<a href='tools/punctuation-remover/'>Punctuation Remover</a>
</body>
</html> -->

{% include 'base/base.html' %}

{% block metadata %}
<title>Editor's Point - Complete Solution</title>
{% endblock %}

<a href="{% url 'punctuationremover' %} ">punctuationremover</a>